{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="bg-cover bg-center h-screen" style="background-image: url('{{ asset('images/background.jpg') }}');">
    <div class="min-h-screen flex items-center justify-center">
        <div class="w-full max-w-md p-8">
            <form method="post">
                {% if error %}
                    <div class="bg-red-500 text-white p-3 rounded mb-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="text-xl mb-6 font-bold text-white text-center">Connectez-vous</h1>
                <input type="email" name="_username" id="username" class="w-full h-12 rounded bg-gray-200 opacity-75 border-b-2 border-gray-600 focus:border-orange-500 focus:outline-none focus:bg-white p-2 mb-4" required autofocus">
                <input type="password" name="_password" id="password" class="w-full h-12 rounded bg-gray-200 opacity-75 border-b-2 border-gray-600 focus:border-orange-500 focus:outline-none focus:bg-white p-2 mb-4" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}

                <button class="w-full h-14 rounded bg-white hover:bg-gray-100 text-gray-800 font-bold py-2 px-4" type="submit">
                    Se connecter
                </button>
            </form>
            <p class="text-center text-white">Pas encore membre ? <a href="/register">créer un compte</a></p>
        </div>
    </div>
</div>
{% endblock %}
