{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<!-- start: Sidebar -->
        <div class="fixed left-0 top-0 w-1/4 h-full bg-white p-4 z-50 sidebar-menu transition-transform"></div>
        <div class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay"></div>
    <!-- end: Sidebar -->



<div class="bg-cover bg-center h-screen" style="background-image: url('{{ asset('images/muscu.jpg') }}');">
    <div class="min-h-screen flex items-center justify-center">
        <div class="w-full max-w-md p-8">
            <form method="post">

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que : {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}

                <h1 class="text-xl mb-6 font-bold text-white text-center">Créer un compte</h1>
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.gender) }}
                    {{ form_row(registrationForm.plainPassword.first, {
                    label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.plainPassword.second, {
                        label: 'Confirm Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button class="w-full h-14 rounded bg-white hover:bg-gray-100 text-gray-800 font-bold py-2 px-4" type="submit">
                    Créer mon compte
                    </button>
                {{ form_end(registrationForm) }}

            </form>
            <p class="text-center text-white">Vous avez déjà un compte ? <a href="/login">Se connecter</a></p>
        </div>
    </div>
</div>
{% endblock %}
