{% extends 'backoffice/base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}
    <div class="p-6">
        <div class="mb-6 pl-64">
            <div class="w-full bg-white rounded-md border border-gray-100 p-4 shadow-md shadow-black/5">
                <h1 class="pb-4 text-4xl font-bold mb-6">Liste des Factures <i class="fa-solid fa-users"></i></h1>
                {# <a href="{{ path('app_facture_new') }}">Créer une Facture<i class="fa-solid fa-plus"></i></a> #}
                <table class="min-w-full border-collapse mt-8">
                    <thead>
                        <tr class="bg-gray-100">
                            <th class="p-4 text-left">Id</th>
                            <th class="p-4 text-left">Date</th>
                            <th class="p-4 text-left">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for facture in factures %}
                            <tr>
                                <td class="border-y p-4 text-left">{{ facture.id }}</td>
                                <td class="border-y p-4 text-left">{{ facture.dateFacture ? facture.dateFacture|date('Y-m-d H:i:s') : '' }}</td>
                                <td class="border-y p-4 text-left flex justify-around">
                                    <a href="{{ path('app_facture_show', {'id': facture.id}) }}"><i class="fa-solid fa-eye"></i></a>
                                    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <form method="post" action="{{ path('app_clients_delete', {id: facture.id}) }}" onsubmit="return confirm('Sur de vouloir supprimer ce client ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture.id) }}">
                                        <button><i class="fa-solid fa-trash-can text-red-500"></i></button>
                                    </form>
                                    <form action="{{ path('app_generate_pdf') }}" method="get">
                                        <button type="submit"><i class="fa-regular fa-file-pdf"></i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
