{% extends 'backoffice/base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    <div class="p-6">
        <div class="mb-6 pl-64">
            <div class="w-full bg-white rounded-md border border-gray-100 p-4 shadow-md shadow-black/5">
                <h1 class="pb-4 text-4xl font-bold mb-6">Liste des Devis <i class="fa-solid fa-users"></i></h1>
                <a href="{{ path('app_devis_new') }}">Créer un Devis<i class="fa-solid fa-plus"></i></a>
                <table class="min-w-full border-collapse mt-8">
                    <thead>
                        <tr class="bg-gray-100">
                            <th class="p-4 text-left">Id</th>
                            <th class="p-4 text-left">Date_devis</th>
                            <th class="p-4 text-left">Total_ht</th>
                            <th class="p-4 text-left">Total_ttc</th>
                            <th class="p-4 text-left">Total_tva</th>
                            <th class="p-4 text-left">Remise</th>
                            <th class="p-4 text-left">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for devis in devis %}
                            <tr>
                                <td class="border-y p-4 text-left">{{ devis.id }}</td>
                                <td class="border-y p-4 text-left">{{ devis.dateDevis ? devis.dateDevis|date('Y-m-d H:i:s') : '' }}</td>
                                <td class="border-y p-4 text-left">{{ devis.totalHt }}€</td>
                                <td class="border-y p-4 text-left">{{ devis.totalTtc }}€</td>
                                <td class="border-y p-4 text-left">{{ devis.totalTva }}€</td>
                                <td class="border-y p-4 text-left">{{ devis.remise }}€</td>
                                
                                <td class="border-y p-4 text-left flex justify-around">
                                    <a href="{{ path('app_devis_show', {'id': devis.id}) }}"><i class="fa-solid fa-eye"></i></a>
                                    <a href="{{ path('app_devis_edit', {'id': devis.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <form method="post" action="{{ path('app_devis_delete', {'id': devis.id}) }}" onsubmit="return confirm('Sur de vouloir supprimer ce client ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ devis.id) }}">
                                        <button><i class="fa-solid fa-trash-can text-red-500"></i></button>
                                    </form>
                                    <a href="{{ path('generate_facture_from_devis', {'id': devis.id}) }}" class="">Facture</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
